body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: #00ff88;
}

/* Анимированный огонь на фоне */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('fire.gif') center/cover no-repeat;
    opacity: 0.18;
    pointer-events: none;
}

/* Неоновый заголовок */
h1.glow {
    text-align: center;
    color: #00ff88;
    text-shadow: 0 0 10px #00ff88, 0 0 25px #00ff88;
    margin-top: 20px;
}

/* Админ кнопка */
.admin-link {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #00ff88;
    text-decoration: none;
    font-size: 20px;
}

.seasons-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.season {
    border: 2px solid #00ff88;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: rgba(0, 255, 100, 0.1);
}

.season.locked {
    opacity: 0.4;
    border-color: gray;
}

.open-btn {
    margin-top: 10px;
    background: black;
    border: 2px solid #00ff88;
    color: #00ff88;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.open-btn:hover {
    box-shadow: 0 0 15px #00ff88;
}

/* Список эпизодов */
#episodes {
    width: 80%;
    margin: 40px auto;
}

.episodes.hidden {
    display: none;
}

#episode-list li {
    list-style: none;
}

/* Блок серии */
.episode-box {
    background: rgba(0, 255, 100, 0.1);
    border: 1px solid #00ff88;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* Текст серии */
.episode-text {
    white-space: normal;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

/* Назад */
.back-btn {
    margin-top: 20px;
    background: black;
    border: 2px solid #00ff66;
    color: #00ff66;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.back-btn:hover {
    box-shadow: 0 0 15px #00ff66;
}

/* Скрытие */
.hidden {
    display: none;
}
